{% extends "decorator.html" %}
{% set title = "Coy Admin" %}

{% block head %}
  <link rel="stylesheet" href="/css/admin.css" />
{% endblock %}

{% block body %}

  {% if isAdmin %}
  <form class="edit-form-container" method="post" action="/article">
    <div class="article-meta-input">
      <input id="title" name="name" type="text" placeholder="Title.."/>
      <input id="slug" type="text" placeholder="Slug.."/>
      <textarea id="markdown-content" name="content" style="display:none"></textarea>
    </div>

    <div id="epiceditor"></div>
    <footer>
      <input type="submit" value="Submit"></input>
    </footer>
  </form>


    <script src="/lib/epiceditor/epiceditor/js/epiceditor.min.js"></script>
    <script src="/adminStart.js"></script>
  {% else %}
    <a href="/github/login">Login With Github</a>
  {% endif %}

{% endblock %}
