{% extends "decorator.html" %}
{% set title = "Coy Admin" %}

{% block head %}
  <link rel="stylesheet" href="/css/admin.css" />
  <script type="text/javascript" charset="utf-8">
    COY_ADMIN = {};
    COY_ADMIN.articles = {{ articles | stringify | safe }};
  </script>
{% endblock %}

{% block body %}

  {% if isAdmin %}
    <div id="react-container" />
    <script src="/lib/epiceditor/epiceditor/js/epiceditor.min.js"></script>
    <script src="/adminStart.js"></script>
  {% else %}
    <a href="/github/login">Login With Github</a>
  {% endif %}

{% endblock %}
