{% extends "decorator.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <script type="text/javascript" charset="utf-8">
    COY_PROPS = {};
    COY_PROPS.content = {{ content | dump | safe }};
    COY_PROPS.articles = {{ allArticles | dump | safe }};
  </script>
{% endblock %}

{% block body %}
<div id="react-container">
  {{ reactMarkup | safe }}
</div>
<script src="/homeStart.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}
