{% extends "decorator.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block body %}
  <section class="sidebar">
    <h1>About Me</h1>
    <p>
      Hi! My name is Matthew Halbe.  I'm a web developer working at Webs Inc.
      I have two kids, August and Liesel, and a wonderful wife, Dory.
    </p>
    <p>
      I spent 6 years as an enlisted soldier in the Army before coming out to the DC
      area for school and work.
    </p>
    <p>
      My main interests are web development, US-Iran Relations and documentary films.
    </p>

    <div class="social-links">
      <ul>
        <li><a href="mailto:matthew.c.halbe@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
        <li><a href="https://github.com/eblahm"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/pub/matthew-halbe/2b/a37/911"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://twitter.com/_yonant"><i class="fa fa-twitter-square"></i></a></li>
      </ul>
    </div>

    <nav>
      <ul>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/thoughts">Thoughts</a></li>
        <li><a href="/resume">Thoughts</a></li>
      </ul>
    </nav>

  </section>

  <section class="content">
    <div>{{content.html | safe}}</div>
  </section>

  <script src="/home.js" type="text/javascript" charset="utf-8"></script>


{% endblock %}
