{% extends "decorator.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <style>
div { font-size: 50px;}
i { margin: 0 20px;}
  </style>
{% endblock %}

{% block reactContainer %}
<div>
  <i class="icon-cloud"></i>
  <i class="icon-at"></i>
  <i class="icon-plus"></i>
  <i class="icon-minus"></i>
  <i class="icon-arrow_up"></i>
  <i class="icon-arrow_down"></i>
  <i class="icon-arrow_right"></i>
  <i class="icon-arrow_left"></i>
  <i class="icon-chevron_down"></i>
  <i class="icon-chevron_up"></i>
  <i class="icon-chevron_right"></i>
  <i class="icon-chevron_left"></i>
  <i class="icon-reorder"></i>
  <i class="icon-list"></i>
  <i class="icon-reorder_square"></i>
  <i class="icon-reorder_square_line"></i>
  <i class="icon-coverflow"></i>
  <i class="icon-coverflow_line"></i>
  <i class="icon-pause"></i>
  <i class="icon-play"></i>
  <i class="icon-step_forward"></i>
  <i class="icon-step_backward"></i>
  <i class="icon-fast_forward"></i>
  <i class="icon-fast_backward"></i>
  <i class="icon-cloud_upload"></i>
  <i class="icon-cloud_download"></i>
  <i class="icon-data_science"></i>
  <i class="icon-data_science_black"></i>
  <i class="icon-globe"></i>
  <i class="icon-globe_black"></i>
  <i class="icon-math_ico"></i>
  <i class="icon-math"></i>
  <i class="icon-math_black"></i>
  <i class="icon-paperplane_ico"></i>
  <i class="icon-paperplane"></i>
  <i class="icon-paperplane_black"></i>
  <i class="icon-color_balance"></i>
  <i class="icon-star"></i>
  <i class="icon-star_half"></i>
  <i class="icon-star_empty"></i>
  <i class="icon-star_half_empty"></i>
  <i class="icon-reload"></i>
  <i class="icon-heart"></i>
  <i class="icon-heart_broken"></i>
  <i class="icon-hashtag"></i>
  <i class="icon-reply"></i>
  <i class="icon-retweet"></i>
  <i class="icon-signin"></i>
  <i class="icon-signout"></i>
  <i class="icon-download"></i>
  <i class="icon-upload"></i>
  <i class="icon-placepin"></i>
  <i class="icon-display_screen"></i>
  <i class="icon-tablet"></i>
  <i class="icon-smartphone"></i>
  <i class="icon-connected_object"></i>
  <i class="icon-lock"></i>
  <i class="icon-unlock"></i>
  <i class="icon-camera"></i>
  <i class="icon-isight"></i>
  <i class="icon-video_camera"></i>
  <i class="icon-random"></i>
  <i class="icon-message"></i>
  <i class="icon-discussion"></i>
  <i class="icon-calendar"></i>
  <i class="icon-ringbell"></i>
  <i class="icon-movie"></i>
  <i class="icon-mail"></i>
  <i class="icon-pen"></i>
  <i class="icon-settings"></i>
  <i class="icon-measure"></i>
  <i class="icon-vector"></i>
  <i class="icon-vector_pen"></i>
  <i class="icon-mute_on"></i>
  <i class="icon-mute_off"></i>
  <i class="icon-home"></i>
  <i class="icon-sheet"></i>
  <i class="icon-arrow_big_right"></i>
  <i class="icon-arrow_big_left"></i>
  <i class="icon-arrow_big_down"></i>
  <i class="icon-arrow_big_up"></i>
  <i class="icon-dribbble_circle"></i>
  <i class="icon-dribbble"></i>
  <i class="icon-facebook_circle"></i>
  <i class="icon-facebook"></i>
  <i class="icon-git_circle_alt"></i>
  <i class="icon-git_circle"></i>
  <i class="icon-git"></i>
  <i class="icon-octopus"></i>
  <i class="icon-twitter_circle"></i>
  <i class="icon-twitter"></i>
  <i class="icon-google_plus_circle"></i>
  <i class="icon-google_plus"></i>
  <i class="icon-linked_in_circle"></i>
  <i class="icon-linked_in"></i>
  <i class="icon-instagram"></i>
  <i class="icon-instagram_circle"></i>
  <i class="icon-mfg_icon"></i>
  <i class="icon-xing"></i>
  <i class="icon-xing_circle"></i>
  <i class="icon-mfg_icon_circle"></i>
  <i class="icon-user"></i>
  <i class="icon-user_male"></i>
  <i class="icon-user_female"></i>
  <i class="icon-users"></i>
  <i class="icon-file_open"></i>
  <i class="icon-file_close"></i>
  <i class="icon-file_alt"></i>
  <i class="icon-file_close_alt"></i>
  <i class="icon-attachment"></i>
  <i class="icon-check"></i>
  <i class="icon-cross_mark"></i>
  <i class="icon-cancel_circle"></i>
  <i class="icon-check_circle"></i>
  <i class="icon-magnifying"></i>
  <i class="icon-inbox"></i>
  <i class="icon-clock"></i>
  <i class="icon-stopwatch"></i>
  <i class="icon-hourglass"></i>
  <i class="icon-trophy"></i>
  <i class="icon-unlock_alt"></i>
  <i class="icon-lock_alt"></i>
  <i class="icon-arrow_doubled_right"></i>
  <i class="icon-arrow_doubled_left"></i>
  <i class="icon-arrow_doubled_down"></i>
  <i class="icon-arrow_doubled_up"></i>
  <i class="icon-link"></i>
  <i class="icon-warning"></i>
  <i class="icon-warning_alt"></i>
  <i class="icon-magnifying_plus"></i>
  <i class="icon-magnifying_minus"></i>
  <i class="icon-white_question"></i>
  <i class="icon-black_question"></i>
  <i class="icon-stop"></i>
  <i class="icon-share"></i>
  <i class="icon-eye"></i>
  <i class="icon-trash_can"></i>
  <i class="icon-hard_drive"></i>
  <i class="icon-information_black"></i>
  <i class="icon-information_white"></i>
  <i class="icon-printer"></i>
  <i class="icon-letter"></i>
  <i class="icon-soundcloud"></i>
  <i class="icon-soundcloud_circle"></i>
  <i class="icon-anchor"></i>
  <i class="icon-female_sign"></i>
  <i class="icon-male_sign"></i>
  <i class="icon-joystick"></i>
  <i class="icon-high_voltage"></i>
  <i class="icon-fire"></i>
  <i class="icon-newspaper"></i>
  <i class="icon-chart"></i>
  <i class="icon-spread"></i>
  <i class="icon-spinner_1"></i>
  <i class="icon-spinner_2"></i>
  <i class="icon-chart_alt"></i>
  <i class="icon-label"></i>
  <i class="icon-brush"></i>
  <i class="icon-refresh"></i>
  <i class="icon-node"></i>
  <i class="icon-node_2"></i>
  <i class="icon-node_3"></i>
  <i class="icon-link_2_nodes"></i>
  <i class="icon-link_3_nodes"></i>
  <i class="icon-link_loop_nodes"></i>
  <i class="icon-node_size"></i>
  <i class="icon-node_color"></i>
  <i class="icon-layout_directed"></i>
  <i class="icon-layout_radial"></i>
  <i class="icon-layout_hierarchical"></i>
  <i class="icon-node_link_direction"></i>
  <i class="icon-node_link_short_path"></i>
  <i class="icon-node_cluster"></i>
  <i class="icon-display_graph"></i>
  <i class="icon-node_link_weight"></i>
  <i class="icon-more_node_links"></i>
  <i class="icon-node_shape"></i>
  <i class="icon-node_icon"></i>
  <i class="icon-node_text"></i>
  <i class="icon-node_link_text"></i>
  <i class="icon-node_link_color"></i>
  <i class="icon-node_link_shape"></i>
  <i class="icon-credit_card"></i>
  <i class="icon-disconnect"></i>
  <i class="icon-graph"></i>
  <i class="icon-new_user"></i>
</div>

{% endblock %}
