@import "variables";
@import "vollkorn";
@import "typography";

* {
  box-sizing: border-box;
}

html, body, #admin-container {
  height:100%;
  margin: 0;
  padding: 0;
  border: none;
}

.admin-container {
  display: flex;
  margin: 10px;
  section.title {
    font-size: 16px;
  }

  .files-sidebar {
    flex: 1;
    margin-right: 5px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border: 1px solid lightgrey;
        padding: 5px;
        text-transform: uppercase;
        cursor: pointer;
        &.active {
          background-color: lightgrey;
        }
      }
    }
  }

  .editormd-preview, .markdown-body {
    font-family: 'vll-regular';
  }

  form.edit-form-container {
    z-index: 2;
    flex: 6;
    height: 100%;

    .article-meta-input {
      font-size: 20px;
      input {
        font-size: 14px;
        margin: 0 0 5px;
        padding: 5px;
        display: block;
        width: 100%;
      }
    }

    #epiceditor {
      height: 80%;
      border: 1px solid lightgrey;
    }

    footer {
      width: 100%;
      text-align: right;
      font-size: 20px;
    }

  }
}

