

section.sidebar {
  div.inner-sidebar {
    padding: 0 25px;
  }
}

section.left-sidebar {
  .content-type-title {
    padding: .5em 0 0;
    margin: 0;
  }
  p {
    padding: 0 0 .5em;
    margin: .5em 0;
    font-family: 'vll-italic';
    border-bottom: 1px solid lightgrey;
  }
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 2em;
  }
  li {
    font-size: 1.2em;
  }
  li.active {
    font-family: 'vll-bold';
  }
}

section.right-sidebar {

  .social-links ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    font-size: @nav-icon-font-size;
    justify-content: center;
    li {
      flex: 1;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: blue;
      }
    }
  }
}

.num-of-section {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.tester {
  animation-name: revolve;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin: 20px;
}

@keyframes revolve {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  33% {
    transform: rotate3d(0, 1, 0, 90deg);
    transform-origin: 0 0 0;
  }
  33.1% {
    transform-origin: 100% 0 0;
  }
  66% {
    transform: rotate3d(0, 1, 0, 270deg);
    transform-origin: 100% 0 0;
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
    transform-origin: inherit;
  }
}


