
.secret-nav {
  position: fixed;
  display: block;
  top: 0;
  height: 100%;
  z-index: 3;
  &.active {
    z-index: 0;
  }
}

nav.enable-right-sidebar {
  right: 0;
  width: 50% * @right-flex-ratio;
}

nav.enable-left-sidebar {
  left: 0;
  width: 50% * @left-flex-ratio;
}

section.sidebar {
  position: fixed;
  z-index: 1;

  height: 100%;

  &.left-sidebar {
    left: 0;
    width: 100% * @left-flex-ratio;
  }

  &.right-sidebar {
    right: 0;
    width: 100% * @right-flex-ratio;
  }
}

section.content-container {
  z-index: 2;

  transition: margin .5s ease-in-out .2s;

  &.show-right-sidebar {
    margin-right: 100% * @right-flex-ratio;
    transition: margin-right .5s ease-in-out;
    &:after {
      margin-left: 30px;
      top: 17px;
    }
  }
  &.show-left-sidebar {
    transition: margin-left .5s ease-in-out;
    margin-left: 100% * @left-flex-ratio;
  }
}

// icons
section.content-container {
  background-color: white;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  .article-container {
    background-color: inherit;
  }

  &:before, &:after {
    font-family: @icons-font;
    opacity: 1;
  }

  &:not(.show-left-sidebar) {
    &:before {
      transition: opacity .5s ease-in-out .5s;
    }
  }
  &:not(.show-right-sidebar) {
    &:after {
      transition: opacity .5s ease-in-out .5s;
    }
  }

  &:before {
    font-size: 25px;
    content: "\f009"; // list icon
    position: absolute;
    top: 5px;
    left: 10px;
  }

  &:after {
    font-size: @nav-icon-font-size;
    content: "\2754"; // question mark icon
    margin-left: -35px;
    position: absolute;
    top: 2px;
  }

  &.show-right-sidebar {
    &:after {
      opacity: 0;
    }
  }
  &.show-left-sidebar {
    &:before {
      opacity: 0;
    }
  }
}
