
html, body, #react-container {
  height:100%;
  margin: 0;
  padding: 0;
  border: none;
}

.flex-container {
  height:100%;
  display: flex;
  .right-sidebar {
    flex: @right-sidebar-flex;
  }
  .left-sidebar {
    flex: @left-sidebar-flex;
  }
  section.content-container {
    display: flex;
    flex: @content-flex;
    align-items: center;
    justify-content: center;
    .article-container {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}
