
@import "fonts";

html, body, #react-container {
  height:100%;
  font-family: 'vll-regular';
}

.flex-container {
  height:100%;
  display: flex;

  section.sidebar {
    flex: 1;
  }

  section.content-container {
    flex: 1;
  }

}

.sidebar {
}

section.content-container {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    position: fixed;
    display: block;
    top: 0;
  }
  .article-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.hidden {
  display: none;
}


