
@import "fonts";
@import "typography";

html, body, #react-container {
  height:100%;
  font-family: 'vll-regular';
}

.flex-container {
  height:100%;
  display: flex;

  section.sidebar {
    flex: 1;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: left .5s ease-in-out;
    &.hidden {
      visibility: hidden;
      flex: 0 0;
      left: 40%;
    }
  }

  section.content-container {
    flex: 2;
  }

}

.sidebar {

}

section.content-container {
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
  }
  .article-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}
